.App {
  text-align: center;
  margin: 0;
  padding-top: 5vh;
  background-color: black;
  min-height: 100vh;
  color: cyan;
}

ul {
  list-style: none;
  padding: 0;
}

input, textarea, button {
  outline: none;
  padding: 8px;
  border: none;
  border-radius: 2px;
 }

 button {
   margin: 0 5px;
   background-color: rgb(0, 24, 129);
   color: white;
   box-shadow: 0px 0px 3px black;
   padding: 8px 16px;
   font-weight: 700;
 }

.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
}

.list-container div {
  padding: 20px;
}

.todo-list {
  background-color: rgb(31, 67, 82);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid cyan
}

.todo-item {
  padding: 10px;
  color: white;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  font-weight: 700;
}

.current {
  background-image: linear-gradient(90deg, black, black, black, rgb(0, 44, 4),rgb(0, 112, 9), rgb(0, 255, 21));
  border: 2px solid rgb(0, 255, 21);
}

.fave {
  background-image: linear-gradient(270deg, black, black, black, rgb(69, 0, 83),rgb(120, 0, 145), rgb(212, 0, 255));
  border: 2px solid rgb(212, 0, 255);
}
